@font-face {
    font-family: "FontOver";
    src: url("../fonts/Font Over.otf") format("truetype");
    font-style: normal;
}
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "FontOver";
    color: #ececec;
}
.wrapper {
    min-height: 100%;
    width: max-content;
    overflow: hidden;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0px auto;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 650px;
    margin: 0px 50px;
    box-sizing: border-box;
}
html {
    overflow-x: hidden;
    background: #37446e;
}
h1 {
    font-size: 60px;
    font-weight: 700;
    margin: 70px 0px 30px;
    text-align: center;
    line-height: 40px;
    text-shadow: #ececec 3px 3px 3px;
}
h2 {
    font-size: 34px;
    font-weight: 600;
    margin: 10px 0px;
    text-align: center;
}
p {
    font-size: 22px;
}
.play {
    text-decoration: none;
    font-size: 24px;
    border: 2px solid #ececec;
    color: #37446e;
    border-radius: 20px;
    width: min-content;
    padding: 10px 40px;
    margin: 0px auto 20px;
    cursor: pointer;
    transition: 0.3s;
}
.play:hover {
    background: #37446e;
    color: #ececec;
}
.characters {
    margin-bottom: 20px;
}
.characters>p {
    text-align: center;
}
.character-slider {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.character-slider>button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    background: #37446e;
    border: 2px solid #ececec;
    border-radius: 35px;
    cursor: pointer;
    transition: 0.3s;
}
.character-slider>button>svg>path {
    transition: 0.3s;
}
.character-slider>button:hover {
    background: #ececec;
}
.character-slider>button>svg>path {
    stroke: #ececec;
}
.character-slider>button:hover>svg>path {
    stroke: #37446e;
}
.next>svg {
    transform: scale(-1);
}
.slider-wrapper {
    width: 190px;
    height: 190px;
    overflow: hidden;
}
.characters-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 570px;
    height: 170px;
}
.character-item  {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #ececec;
    border-radius: 25px;
    width: 150px;
    height: 150px;
    margin: 20px;
    transition: 0.3s;
}
.character-item>img {
    width: 70px;
}
.name {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px 0px;

}
.name-input {
    height: 50px;
    width: 350px;
    border: 2px solid #ececec;
    border-radius: 10px;
    padding-left: 20px;
    font-size: 16px;
    color: #37446e;
}
.controls {
    margin-bottom: 20px;
}
.controls>p {
    margin-left: 40px;
}